<?xml version="1.0"?>

<launch>
   
    <!-- Add position control -->
    <node
        pkg="bebop_control"
        type="launch_bebop.py"
        name="bebop_launch"
        output="screen">
    
        <param name="verbose" value="True" type="bool" />
        <param name="wind" value="False" type="bool"    />
        <param name="hoover" value="False" type="bool"    />
    </node>
    
</launch>