<launch>
     
    <!-- Load configuration parameters -->
    <rosparam 
        command="load" 
        file="$(find plane_detection_ros)/config/control/distance_control.params.yaml" />
    <rosparam 
        command="load" 
        file="$(find plane_detection_ros)/config/control/position_control.params.yaml" />
    
    <rosparam 
	command="load"
        file="$(find plane_detection_ros)/config/control/joy.config.yaml" />

    <!-- Start plane detection ROS -->
    <node
        pkg="plane_detection_ros"
        type="distance_control_node"
        name="distance_control_node"
        output="screen">
        
        <!-- Do all the subscriber remaps -->
        <remap from="distance"          to="distance_filtered"  />
        <remap from="joy"               to="/px4/joy"           />
        <remap from="/real/imu"         to="/mavros/imu/data"   />
        <remap from="/real/odometry"    to="/mavros/global_position/local" />
        
        <!-- Do all the publisher remaps -->
        <remap from="control_state"     to="control_state"      />
        <remap from="/real/attitude_sp" to="/mavros/setpoint_raw/attitude"/>
    </node>

</launch>
