<launch>
     
    <!-- Load configuration parameters -->
    <rosparam 
        command="load" 
        file="$(find plane_detection_ros)/config/distance_control_parameters.yaml" />
    
    <rosparam 
	command="load"
        file="$(find plane_detection_ros)/config/joy_real.config.yaml" />

    <!-- Start plane detection ROS -->
    <node
        pkg="plane_detection_ros"
        type="distance_control_node"
        name="distance_control_node"
        output="screen">
        
        <!-- Do all the subscriber remaps -->
        <remap from="distance"          to="distance"           />
        <remap from="joy"               to="/px4/joy"           />
        <remap from="/real/imu"         to="/mavros/imu/data"   />
        <remap from="/real/pos"         to="/mavros/local_position/pose" />
        <remap from="/sim/odometry"     to="/bebop/odometry_gt" />
        <remap from="/real/vel"         to="/mavros/local_position/twist">
        
        <!-- Do all the publisher remaps -->
        <remap from="control_state"     to="control_state"      />
        <remap from="/sim/rpy_thrust"   to="/bebop/att_override"/>
        <remap from="/real/attitude_sp" to="/mavros/setpoint_raw/attitude"/>
    </node>

</launch>
