<launch>
    
    <!-- Load parameters -->
    <rosparam command="load" file="$(find plane_detection_ros)/config/detection/detection_parameters.yaml" />
    
    <!-- Launch plane detection -->
    <node 
        pkg="plane_detection_ros"
        type="plane_detection_node"
        name="plane_detection_node"
        output="screen">
        <remap from="/pointcloud" to="/velodyne_points"/>
    </node>
    
</launch>
