<launch>
    <arg name="namespace"   default="$(env UAV_NAMESPACE)"/>

    <group ns="$(arg namespace)">
    <node pkg="uav_ros_control" type="flight_init_node" name="flight_init_node" output="screen">
        <param name="time_for_init" value="300" />
        <param name="takeoff_height" value="3" />
        <param name="rate" value="20" />
    </node>
    </group>
</launch>
