<launch>
    <arg name="namespace"   default="red"/>
    <arg name="carrot_out"     default="carrot/trajectory"/>
    <arg name="pid_in"          default="carrot/trajectory"/>
    <arg name="odometry"            default="/mavros/global_position/local"/>
    <arg name="msf_callback_enable"     default="false"/>

    <include file="$(find uav_ros_control)/launch/carrot_reference.launch">
        <arg name="namespace" value="$(arg namespace)"/>
        <arg name="ref" value="$(arg carrot_out)"/>
        <arg name="odom" value="$(arg odometry)"/>
    </include>
    
    <include file="$(find uav_ros_control)/launch/position_control.launch">
        <arg name="msf_callback_enable"     value="$(arg msf_callback_enable)"/>
        <arg name="namespace" value="$(arg namespace)"/>
        <arg name="traj_ref" value="$(arg pid_in)"/>
        <arg name="odom" value="$(arg odometry)"/>
    </include>
</launch>
